.csb {
    width: 90px;
    height: 90px;
    color: white;
    background: #2F80ED;
    border: 1px solid #2F80ED;
    border-radius: 50%;
}
.csbo {
    width: 90px;
    height: 90px;
    background: white;
    color: #2F80ED;
    border: 1px solid #2F80ED;
    border-radius: 50%;
}
.csbs {
    width: 90px;
    height: 90px;
    color: white;
    background: #ed422f;
    border: 2px solid #ffaa83;
    border-radius: 50%;
}